.auth-form {
    margin: 0 auto;
    width: 340px;
}

body {
    font-family: 'TitilliumWeb';
}

label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.app-body {
    font-family: 'TitilliumWeb';
    background-image: url('../images/png/bg2.png');
}

.app-menu-module li a.active {
    color: black;
}

.app-menu-module li a {
    color: rgba(0, 0, 0, 0.5);
}